<h1>Here is your People</h1>
  <h2><%= @person.name %><h2>
  <p><%= @person.age %><p>
  <p><%= @person.eye_color %><p>
  <p><%= @person.hair_color %><p>
  <p><%= @person.gender %><p>
  <p><% "Is he alive =" %>
  <%= @person.alive %><p>
  <%= link_to 'Back', people_path %>



 